{% load static %}
<link rel="stylesheet" href="{% static 'styles/InfoPage.css' %}"> 
<title>Info Page</title>
<h1 style="text-align: center;">Info Page</h1>
<div class="container">
    <h1>Submitted Information</h1>
    {% for form in forms %}
    <p>Full Name: {{ form.fullName }}</p>
    <p>Age: {{ form.age }}</p>
    <p>Gender: {{ form.gender }}</p>
    <p>Home Continent: {{ form.country }}</p>
    <p>Phone Number: {{ form.phNo }}</p>
    <p>Address: {{ form.address }}</p>
    {% endfor %}
</div>